<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-white">
    <div class="absolute top-4 right-4">
        <button class="border-2 border-black rounded-md px-4 py-1 text-black" onclick = "window.location.href = '/'">
            Back
        </button>
    </div>
    <div class="flex flex-col items-center">
        <div id="tes" style="display: none;"><%= hello[0].id %></div>
        <div class="border-2 border-black rounded-lg p-8">
            <div class="mb-4">
                <label class="block text-orange-500 mb-2">Name: <%= hello[0].name %></label>
                <hr class="border-t-2 border-orange-500">
            </div>
            <div class="mb-4">
                <label class="block text-orange-500 mb-2">ID: <%= hello[0].id %></label>
                <hr class="border-t-2 border-orange-500">
            </div>
            <div class="mb-4">
                <label class="block text-orange-500 mb-2">Pass: <%= hello[0].pass %></label>
                <hr class="border-t-2 border-orange-500">
            </div>
        </div>
        <button class="mt-8 border-2 border-black rounded-md px-8 py-2 text-green-500 italic" id="deletetail">
            Delete
        </button>
        <button class="mt-8 border-2 border-black rounded-md px-8 py-2 text-green-500 italic" id="update1" onclick= "window.location.href = '/product/create?id=<%= hello[0].id %>'">
            Update
        </button>
    </div>
</body>
<script>
    const dd = document.getElementById("tes").innerHTML;
    document.getElementById('deletetail').addEventListener('click',()=>{
        fetch(`http://localhost:3000/product/detail/${dd}`, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json; charset=UTF-8'   
            }
        })
        .then((res) => res.json())
        .then((json)=>{
            if((json == 200)){
                window.location.href = '/'
            }
        })
    })
</script>
</html>